.main-container {
    height: 100%;
    background: linear-gradient(90deg, rgb(255, 230, 244) 5%, rgb(249, 198, 206) 30%, rgb(240, 150, 174) 100%);
    padding-top: 2rem;
    padding-bottom: 12rem;

    .formulario{
        .h1-general{
            font-family: "Kite One", sans-serif;
            padding: 3rem;
            text-align: center;
                span{
                    background: -webkit-linear-gradient(90deg, rgb(231, 108, 108) 20%, rgb(158, 26, 26) 40%, rgb(52, 3, 3) 80%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
        }      

        .contactoo{
            height: 800px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 30%;

            .img-equipo{
                height: 500px;
                position: absolute;
                left: 25%;
                top: 120%;
            }
                    
        
            
            .formularioo{

                display: flex;
                width: 85%;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: end;
                margin-right: 20%;
                background: linear-gradient(60deg, #b18691c7 10%, #d7bdc4 40%, #ffffffad 90%);
                
                .nombre{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 45px;
                    font-size: 20px;
                }
                .e-mail{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 45px;
                    font-size: 20px;
                }
                .consulta{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 45px;
                    font-size: 20px;
                }

                .inter-text{
                    margin-right: 35px;
                    border-radius: 10px;
                    height: 7%;
                    width: 45%;
                }

                .inter-text2{
                    margin-right: 35px;
                    border-radius: 10px;
                    height: 7%;
                    width: 45%;
                }
                .inter-text3{
                    margin-right: 35px;
                    border-radius: 10px;
                    width: 45%;
                    height: 300px;
                }
                
                .btn-enviar{
                    margin-right: 35px;
                    border-radius: 10px;
                    height: 5%;
                    width: 15%;
                }

            }

        }
    }
}
