.container-cards{
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1{
        font-size: 1.25rem;
        text-align: center;
        padding: 1.5rem;
        }
    p{
        font-size: 1rem;
        text-align: center;
        width: 90%;
        margin: auto;
        }

    img{
        border-radius: 15px 15px 0 0;
    }
    }
  
        .card-index{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          margin-right: 20px;
          width: 25rem;
        
                img{
                    height: 60%;
                    width: 100%;
                 }
            
                div{
                    background-color: white;
                    height: 15rem;
                    border-radius: 0 0 15px 15px;
            }
        }

    .card-servicios{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        height: 25rem;
        img{
            align-self: flex-end;
        }
    }