@media (max-width: 920px){

    .logo-principal{
        width:200px;
        height: 200px;
        justify-content: center;
    }



    .main-index{
        .container-cards{
            .card-index{
                div{
                    h2{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    p{
                        font-size: 12px;
                    }


                }
            }
        }
    


        .quienes-somos-index{

            h2{
                font-size: 20px;
            }
            .scale-up-center{
                font-size: 1rem;
                width: 100%;
            }
        }
    }
    
       .pie-de-pag{
        div {
            width: 6.25rem;
        }
       } 

    footer{
        height: 300px;
        display: flex;
        flex-direction: column;
          img {
                width:80px;
                height: 80px;
                justify-content: flex-start;
        }
    }
    .icono-footer{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .orden-footer-2{
        h3{
            font-size: 13px;
        }
    } 
    .icono-footer-3{
        img{
            height: 40px;
            width: 40px;
        }

        p{
            font-size: 8px;
            justify-content: flex-end;
        }
    } 

    /*PAGINA CURSOS*/

    .main-container{
        .info-micro-cejas{
            .parrafo1-cursos{
                .kiteone-text{
                    font-size: 13px;
                    padding-right: 15px;
                }
            } 

            .parrafo2-cursos{
                .kiteone-text{
                    font-size: 13px;
                    padding-right: 15px;
                }
            }
            .parrafo3-cursos{
                .kiteone-text{
                    font-size: 13px;
                    padding-right: 15px;
                }
            }   
        }

        .lista-curso{

            .card-lista {
                width: 600px;
                height: 500px;

                .img-curso{
                    width: 300px;
                }
                        
               .contenido-curso{
                    font-size: 14px;
                    padding-right: 20px;

                }
            }
        }
        .beneficios{            
            
            .h2-curso{
                font-size: 30px;
                padding-right: 15px;
            }

            .lista-beneficios{
                p{
                    padding-top: 10px;
                    font-size: 16px;
                    padding-right: 15px;
                }
            }
        }     

    }

/*pagina contacto*/

    .main-container {
        .formulario{
            .contactoo{

                .img-equipo{
                    height: 350px;
                    position: absolute;
                    left: 10%;
                    top: 140%;
                }
                .formularioo{
                    width: 90%;
                    margin-right: 10%;

                    .inter-text{
                        width: 50%;
                        height: 6%;
                    }
    
                    .inter-text2{
                        width: 50%;
                        height: 6%;
                    }
                    .inter-text3{
                        width: 50%;
                        height: 230px;
                    }
                    
                    .btn-enviar{
                        margin-right: 35px;
                        border-radius: 10px;
                        height: 5%;
                        width: 15%;
                    }
                }      
            }
        }
    }
}           
    
