@media (max-width: 1024px){
    .logo-principal{
            width:300px;
            height: 300px;
        }

        .main-index{
            .container-cards{
                .card-index{
                    div{
                        h2{
                            font-size: 17px;
                            text-align: center;
                            padding-top: 15px;
                        }
                        p{
                            height: 75%;
                            text-align: center;
                            align-content: center;
                            font-size: 15px;
                        }
                    }
                }
            }
        } 
        
           .pie-de-pag{
                        div {
                              width: 18.75rem;
                        }
         } 

        footer{
            display: flex;
            flex-direction: column;

            img {
                  width:200px;
                  height: 200px;
                  justify-content: flex-start;
            }
        
        .orden-footer-3{
            display: flex;
            flex-direction: row;
            justify-content: left
        }

        .orden-footer-2{
                    h3{
                       font-size: 1.5625rem;
                }      
        } 

        .icono-footer{
            img{
                height: 40px;
                width: 40px;
            }

            p{
                font-size: 16px;
                justify-content: flex-end;
            }  
        } 

        /*pagina curso*/

        .parrafo1-cursos{
            p{
                font-size: 16px;
            }
        } 

        .parrafo2-cursos{
            p{
                font-size: 16px;
            }
        } 
        .parrafo3-cursos{
            p {
                font-size: 16px;
            }
        } 

        .h2-curso{
            font-size: 30px;
            padding-right: 15px;
        }

        .lista-beneficios{
            p{
                padding-top: 10px;
                font-size: 16px;
                padding-right: 15px;
            }
        } 
 


        /*pagina contacto*/
        .main-container {

    
            .formulario{
    
                .contactoo{
    
                    .img-equipo{
                        height: 400px;
                        position: absolute;
                        left: 12%;
                        top: 155%;
                    }
                    .formularioo{
                        width: 85%;
                        margin-right: 15%;

                        .inter-text{
                            width: 50%;
                        }
        
                        .inter-text2{
                            width: 50%;
                        }
                        .inter-text3{
                            width: 50%;
                        }
                        
                        .btn-enviar{
                            margin-right: 35px;
                            border-radius: 10px;
                            height: 5%;
                            width: 15%;
                        }
                    }
                            
                            
                }
    
            }
        }
    }
}       