@media (max-width: 768px){


    .main-container{
        section{
            h1{
                font-size: 30px;

            }
        }
        .lista-curso{
            .card-lista{
                .img-curso{
                    img{
                        height: 9.25rem;
                        width: 11.25rem;
                    }
                }
            }
        }

        .beneficios{
            article{
                .h2-curso{
                    font-size: 50px;
                }
            }
        }
    }

    footer{
        height: 200px;

            .orden-footer{
                width: 200px;
                height: 200px;
                .logo-pag{
                    width: 200px;
                    height: 200px;
                }
            }
            .orden-footer-2{
                width: 19rem;
            }
        }
        .contacto{
            .orden-footer-3{
                    width: 15rem;
                .icono-footer{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
