@media (min-width: 1025px) and (max-width: 1160px){


    .pie-de-pag{
        div{
            width: 100%;
        }
    } 

    .icono-footer {
        justify-content: center;
    }

    div.logo-img3{
        width: 300px;
    }
    
    .parrafo2-cursos{
        p{
            font-size: 15px;
            padding-right: 100px;
        }
    } 
    .parrafo3-cursos{
        p {
            font-size: 15px;
            padding-right: 100px;
        }
    }
    .lista-beneficios p{
        font-size: 16px;
        margin: 5rem;
        width: 80%;
    }
}

