@media screen and (max-width: 1440px){
    .main-index{
        .container-cards{
            padding: 0;
            padding-top: 6.25rem;

            .card-index{
                div{
                    h2{
                        font-size: 23px;
                        text-align: center;
                        padding-top: 15px;
                    }
                    p{
                        height: 70%;
                        text-align: center;
                        align-content: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    footer{
        height: 200px;
        .pie-de-pag{
                height: 200px;
            .orden-footer{
                width: 200px;
                height: 200px;
                .logo-pag{
                    width: 200px;
                    height: 200px;
                }
            }
            .orden-footer-2{
                width: 19rem;
            }
        }
        .contacto{
            .orden-footer-3{
                    width: 15rem;
                .icono-footer{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    
}