@media (max-width: 425px) {

.main-index{
    .img-principal-index{
        img {
            height: 20rem;
        }
    } 
    .container-cards{
        flex-direction: column;

        .card-index{
            width: 22rem;
            margin: 10%;
            div{
                h2{
                    font-size: 18px;
                }

                p{
                    font-size: 16px;
                }
            }
        }
    }
}



    footer {
        height: 300px;

        .pie-de-pag {
            flex-direction: column;
        }
    }

    footer img {
        width: 80px;
        height: 80px;
    }


    .orden-footer-2 {
        justify-content: center;
    }


    /*pagina cursos*/

    .parrafo1-cursos p {
        font-size: 13px;
    }

    .parrafo2-cursos p {
        font-size: 13px;
    }

    .parrafo3-cursos p {
        font-size: 13px;
    }

    .main-container{
        .lista-curso{
            .card-lista {
                width: 300px;
                height: 500px;
                flex-direction: column;
            }
    
            .contenido-curso {
            font-size: 12px;
                h2 {
                font-size: 16px;
                }
                h3 {
                font-size: 16px;
                }
            }    
        }

        .beneficios{
            .h2-curso {
                font-size: 30px;
                padding-right: 15px;
            }
        
            .lista-beneficios {
                p{padding-top: 10px;
                font-size: 16px;
                padding-right: 15px;
                margin-bottom: 0;
                padding-bottom: 15px;
                }
            }
        }
    }   

    

       /*pagina nosotros*/

       .main-container{
        .h1-general{
            .inter-text{
               font-size: 1rem; 
            }
        }
    }    

    /*página contacto*/
            
    .main-container {
        .formulario{
            .contactoo{

                .img-equipo{
                    left: 22%;
                }
            }
        }
    }
}